input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
::-webkit-scrollbar {
 width: 5px;
}
::-webkit-scrollbar-thumb {
 background: rgb(109 40 217);
}